<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head}}
        <style>
            .div-three {
                margin-top: -20px;
            }
        </style>
    </head>
    <body>
        {{>header}}
        <div class="planet-content">
                {{>moons}}
                <a href="/moons"><div class="gaming planet earth"><img class="earth-name" src="/img/gameWord.png"></div></a>
        </div>
    </body>
</html>